.profile__paragraph {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1050px) {
  .profile__paragraph {
    text-align: center;
    margin-bottom: 10px;
  }
 }

@media screen and (max-width: 425px) {
  .profile__paragraph {
    max-width: 282px;
    font-size: 14px;
    margin-bottom: 32px;
  }
}
