.element__trash {
  position: absolute;
  background-color: initial;
  border: none;
  width: 18px;
  height: 19px;
  z-index: 10;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.element__trash:hover {
  opacity: .6;
}
