.popup__input {
  width: 358px;
  margin: 23px 0 0;
  min-height: 27px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0,.2);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.1;
}
.popup__input:last-of-type {
  margin-top: 13px;
}


.popup__input:focus {
  border: 3px solid rgba(0, 100, 200, .7);
  border-radius: 2px;
  outline: none;
}

@media screen and (max-width: 550px) {
  .popup__input {
    width: 238px;
    min-height: 30px;
    margin-top: 70px;

  }
  .popup__input:last-of-type {
    margin-top: 27px;
  }

}
