.header {
  max-width: calc(100% - 400px);
  margin: 45px auto 40px;
  min-height: 74px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .header {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 100px);

  }
}

@media screen and (max-width: 590px) {
  .header {
    max-width: 100%;
    margin: 0 0 42px 0;
    min-height: 56px;
    padding: 31.5px 0;
    border-top: 1px solid rgba(84, 84, 84, .7);
  }
}
